:root {
  --boxShadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2),
    0 10px 20px -2px rgba(0, 0, 0, 0.2);
  --textColor: rgb(109, 108, 108);
  --paragraphOpacity: 75%;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#todoListForm,
.TodoListContainer {
  min-width: 80%;
}

/* Common styling above */

.body-container {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 40px;
}

#todoListForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: var(--boxShadow);
  padding: 20px;
  border-radius: 10px;
}

#todoListForm div.todoListInputs {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 10px;
}

#todoListForm div.todoListInputs div {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  flex-wrap: wrap;
  text-align: center;
}

#todoListForm div.todoListInputs div label {
  flex-grow: 1;
}

#todoListForm div.todoListInputs div input {
  flex-grow: 11;
  padding: 1px 5px;
}

#todoListForm button {
  border: 0;
  padding: 5px 40px;
  border-radius: 5px;
  /* box-shadow: var(--boxShadow); */
  transition: all 0.2s ease-in-out;
  background-color: black;
  color: white;
  border: 1px solid black;
}

#todoListForm button:hover {
  background-color: #fff;
  color: black;
}

/* Start of Tasks List */

.TodoListContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 25px 0;
}

.TodoListContainer .taskCard {
  display: flex;
  align-items: stretch;
  /* border: 1px solid black; */
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: var(--boxShadow);
}

.TodoListContainer .taskCard .taskCardContent {
  flex-grow: 10;
}

.TodoListContainer .taskCard .taskCardContent * {
  width: 100%;
}

.TodoListContainer .taskCard .taskCardButtons {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.TodoListContainer .taskCard .taskCardButtons * {
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 500px) {
  #todoListForm,
  .TodoListContainer {
    min-width: 100%;
  }

  #todoListForm div.todoListInputs div {
    flex-direction: column;
  }

  #todoListForm div.todoListInputs div input {
    text-align: center;
  }
}
